  <div class="col-sm-2">
    <h2>Browse groups</h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in groups" ng-class="{active: item.id===activeItem}">
        <span class="list-group-item-heading">{{item.letter}}</span><span class="view-ype" ui-sref="groupList.item({ groupId : item.id, mode: 'table'})" ng-class="{active: item.id===activeItem&&activeMode==='table'}">Table</span><span class="view-ype" ui-sref="groupList.item({ groupId : item.id, mode: 'chart'})" ng-class="{active: item.id===activeItem&&activeMode==='chart'}">Chart</span></li>
    </div>
  </div>
  <div class="col-sm-10">
    <div ui-view></div>
  </div>