*
  box-sizing border-box
.browsehappy 
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

html
  min-width 600px

body
  background url(../assets/images/bg.jpg) no-repeat center center fixed
  background-size cover
  height 100hv
  color #fffeff

.header
  display block
  margin 50px 0
  height 80px
  background white
  background: rgba(255,255,255,0.3)
  width 100%
  padding 20px 0
  @media screen and (max-width:767px)
    margin 10px 0
  img
    width 100px
    margin -30px auto 0
    display block
    vertical-align middle
    max-width 100%
    height auto

.show-loader
  position fixed
  left calc(50% - 75px)
  top calc(50% - 90px)